Repository RoleModel/optics, pull requests merged in 2023-09, with the labels that each got.

#204 [TR#144] Hide still-visible checkbox on Firefox
  src/components/switch.scss
Labels: bug, Components

#203 [TR#145] adds transition-tooltip to base_tokens
  src/core/tokens/base_tokens.scss
Labels: bug, Base Tokens

#205 [TR#139] Breadcrumbs
  src/components/breadcrumbs.scss
  src/components/index.scss
  src/stories/Components/Breadcrumbs/Breadcrumbs.js
  src/stories/Components/Breadcrumbs/Breadcrumbs.mdx
  src/stories/Components/Breadcrumbs/Breadcrumbs.stories.js
  src/stories/Overview/assets/dependency-graph.svg
  tools/generate-graph.dot
Labels: Components

#206 [TR#148] Hide checkbox input when disabled
  src/components/switch.scss
Labels: bug, Components

#207 [TR#147] Sensible file input styles
  src/components/form.scss
  src/stories/Components/Form/Input.stories.js
Labels: enhancement, Components

#208 Fix accordion arrow showing in safari
  src/components/accordion.scss
Labels: bug, Components

#209 [TR#146] Text Pair
  package-lock.json
  package.json
  src/components/breadcrumbs.scss
  src/components/index.scss
  src/components/text_pair.scss
  src/stories/Components/Breadcrumbs/Breadcrumbs.js
  src/stories/Components/Breadcrumbs/Breadcrumbs.mdx
  src/stories/Components/Breadcrumbs/Breadcrumbs.stories.js
  src/stories/Components/TextPair/TextPair.js
  src/stories/Components/TextPair/TextPair.mdx
  src/stories/Components/TextPair/TextPair.stories.js
  src/stories/Overview/assets/dependency-graph.svg
  tools/generate-graph.dot
Labels: bug, Components
