Repository RoleModel/optics, pull requests merged in 2023-07, with the labels that each got.

#187 Add rule to auto fix on save
  optics-design-system.code-workspace
Labels: Repository Change

#192 Rename toggle to switch
  src/components/form.scss
  src/components/index.scss
  src/components/switch.scss
  src/stories/Components/Switch/Switch.js
  src/stories/Components/Switch/Switch.mdx
  src/stories/Components/Switch/Switch.stories.js
  src/stories/Components/Toggle/Toggle.js
  src/stories/Components/Toggle/Toggle.mdx
  src/stories/Overview/assets/dependency-graph.svg
  tools/generate-graph.dot
Labels: bug, documentation, Components

#194 [TR#135] Documentation improvements
  .storybook/documentation.scss
  .storybook/main.js
  .storybook/preview.js
  NEW_COMPONENT.md
  README.md
  package-lock.json
  package.json
  src/components/avatar.scss
  src/components/card.scss
  src/components/confirm-dialog.scss
  src/components/icon.scss
  src/components/modal.scss
  src/components/switch.scss
  src/core/tokens/dark_mode_tokens.scss
  src/core/tokens/scale_color_tokens.scss
  src/stories/Overview/Introduction.mdx
  src/stories/Overview/Themes.mdx
  src/stories/Recipes/Layout/Layout.mdx
Labels: documentation, Cleanup, Base Tokens, Repository Change

#186 [TR#10] Add tags component
  .storybook/documentation.scss
  src/components/index.scss
  src/components/tag.scss
  src/core/tokens/base_tokens.scss
  src/stories/Components/Badge/Badge.mdx
  src/stories/Components/Tag/Tag.js
  src/stories/Components/Tag/Tag.mdx
  src/stories/Components/Tag/Tag.stories.js
  src/stories/Overview/assets/dependency-graph.svg
  tools/generate-graph.dot
Labels: Base Tokens, Components

#195 [TR#13] Add tab component
  src/components/index.scss
  src/components/tab.scss
  src/stories/Components/Tab/Tab.js
  src/stories/Components/Tab/Tab.mdx
  src/stories/Components/Tab/Tab.stories.js
  src/stories/Overview/assets/dependency-graph.svg
  tools/generate-graph.dot
Labels: Components

#199 [TR#140] Dropdown Encoded Image
  src/core/tokens/base_tokens.scss
  src/core/tokens/dark_mode_tokens.scss
Labels: bug, Cleanup, Base Tokens

#198 [TR#137] Opacity Tokens
  src/components/avatar.scss
  src/components/button.scss
  src/components/confirm-dialog.scss
  src/components/form.scss
  src/components/modal.scss
  src/components/switch.scss
  src/components/tab.scss
  src/components/tooltip.scss
  src/core/tokens/base_tokens.scss
  src/stories/Tokens/Opacity.mdx
Labels: Cleanup, Base Tokens, Components

#197 [TR#138] Size Scale
  src/components/accordion.scss
  src/components/avatar.scss
  src/components/confirm-dialog.scss
  src/components/modal.scss
  src/components/navbar.scss
  src/components/sidebar.scss
  src/components/spinner.scss
  src/components/switch.scss
  src/components/table.scss
  src/components/tooltip.scss
  src/core/tokens/base_tokens.scss
  src/stories/Components/Accordion/Accordion.mdx
  src/stories/Components/Button/Button.mdx
  src/stories/Components/ButtonGroup/ButtonGroup.mdx
  src/stories/Components/ConfirmDialog/ConfirmDialog.mdx
  src/stories/Components/Divider/Divider.mdx
  src/stories/Components/Form/Form.mdx
  src/stories/Components/Modal/Modal.mdx
  src/stories/Components/Navbar/Navbar.mdx
  src/stories/Components/Sidebar/Sidebar.mdx
  src/stories/Components/Spinner/Spinner.mdx
  src/stories/Components/Switch/Switch.mdx
  src/stories/Components/Table/Table.mdx
  src/stories/Components/Tooltip/Tooltip.mdx
  src/stories/Overview/ScaleOverriding.mdx
  src/stories/Tokens/Sizing.mdx
  src/stories/Tokens/Spacing.mdx
Labels: documentation, Cleanup, Base Tokens, Components

#196 [TR#19] Side Panel
  src/components/index.scss
  src/components/side_panel.scss
  src/core/layout.scss
  src/stories/Components/Alert/Alert.js
  src/stories/Components/Navbar/Navbar.js
  src/stories/Components/SidePanel/SidePanel.js
  src/stories/Components/SidePanel/SidePanel.mdx
  src/stories/Components/SidePanel/SidePanel.stories.js
  src/stories/Overview/assets/dependency-graph.svg
  src/stories/Recipes/Layout/Layout.js
  src/stories/Recipes/Layout/Layout.mdx
  src/stories/Recipes/Layout/Layout.stories.js
  tools/generate-graph.dot
Labels: Components

#200 [TR#136] Remove warning + no border state for button
  src/components/button.scss
  src/stories/Components/Button/Button.mdx
Labels: Breaking Change, Components

#201 Version 0.5.0
  package-lock.json
  package.json
Labels: Repository Change
