Repository RoleModel/optics, pull requests merged in 2025-01, with the labels that each got.

#253 Remove flexible layout utilities
  src/core/utilities.scss
  src/stories/Components/Sidebar/Sidebar.mdx
Labels: Breaking Change, Utilities

#252 CCC-44 Breakpoint Variables
  .storybook/preview.scss
  package.json
  src/components/button.scss
  src/components/sidebar.scss
  src/core/tokens/base_tokens.scss
  src/stories/Components/Button/Button.mdx
  src/stories/Tokens/Breakpoint.mdx
  src/stories/Utilities/Container/Container.mdx
Labels: Breaking Change, Base Tokens

#254 OP-173 Refactor Alert
  package.json
  src/components/alert.css
  src/components/alert.scss
  src/stories/Components/Alert/Alert.js
  src/stories/Components/Alert/Alert.mdx
Labels: Breaking Change, Components

#255 [OP-170] Refactor Simple Components
  optics-design-system.code-workspace
  package.json
  src/components/accordion.css
  src/components/avatar.css
  src/components/breadcrumbs.css
  src/components/divider.css
  src/components/pagination.css
  src/components/side_panel.css
  src/components/spinner.css
  src/components/switch.css
  src/components/tab.css
  src/components/text_pair.css
  src/components/tooltip.css
  src/stories/Components/Accordion/Accordion.mdx
  src/stories/Components/Avatar/Avatar.mdx
  src/stories/Components/Breadcrumbs/Breadcrumbs.mdx
  src/stories/Components/Divider/Divider.js
  src/stories/Components/Divider/Divider.mdx
  src/stories/Components/Pagination/Pagination.mdx
  src/stories/Components/SidePanel/SidePanel.mdx
  src/stories/Components/Spinner/Spinner.mdx
  src/stories/Components/Switch/Switch.mdx
  src/stories/Components/Tab/Tab.mdx
  src/stories/Components/TextPair/TextPair.mdx
  src/stories/Components/Tooltip/Tooltip.mdx
Labels: Breaking Change, Components

#256 OP-174 Refactor Badge and Tag
  package.json
  src/components/badge.css
  src/components/badge.scss
  src/components/tag.css
  src/components/tag.scss
  src/stories/Components/Badge/Badge.js
  src/stories/Components/Badge/Badge.mdx
  src/stories/Components/Card/Card.mdx
  src/stories/Components/Tag/Tag.js
  src/stories/Components/Tag/Tag.mdx
  src/stories/Overview/Tokens.mdx
Labels: Breaking Change, Components

#257 OP-181 Refactor Modal and ConfirmDialog
  .storybook/useTheme.js
  package.json
  src/components/confirm-dialog.css
  src/components/modal.css
  src/stories/Components/ConfirmDialog/ConfirmDialog.mdx
  src/stories/Components/Modal/Modal.mdx
Labels: Breaking Change, Components

#260 [OP-176] Refactor Card
  .storybook/preview.scss
  package.json
  src/components/card.css
  src/components/card.scss
  src/stories/Components/Card/Card.js
  src/stories/Components/Card/Card.mdx
  src/stories/Overview/Introduction.mdx
  tools/templates/component/??name??(pascalCase).mdx
Labels: Breaking Change, Components

#259 [OP-182] Refactor Navbar
  package.json
  src/components/navbar.css
  src/stories/Components/Navbar/Navbar.js
  src/stories/Components/Navbar/Navbar.mdx
Labels: Breaking Change, Components

#258 OP-189 Refactor Table
  package.json
  src/components/table.css
  src/stories/Components/Table/Table.js
  src/stories/Components/Table/Table.mdx
Labels: Breaking Change, Components

#264 [OP-193] Refactor Sidebar
  package.json
  src/components/sidebar.css
  src/components/sidebar.scss
  src/recipes/16six-sidebar.css
  src/recipes/16six-sidebar.scss
  src/recipes/domains-sidebar.css
  src/recipes/domains-sidebar.scss
  src/stories/Components/Sidebar/Sidebar.js
  src/stories/Components/Sidebar/Sidebar.mdx
  src/stories/Recipes/CustomSidebar/CustomSidebar.js
  src/stories/Recipes/CustomSidebar/CustomSidebar.mdx
Labels: Breaking Change, Components

#265 Add details to sidebar documentation
  src/stories/Components/Sidebar/Sidebar.js
  src/stories/Components/Sidebar/Sidebar.mdx
  src/stories/Components/Sidebar/Sidebar.stories.js
Labels: documentation

#263 [CCC-47] Tokens
  src/addons/panel.css
  src/addons/panel.scss
  src/addons/tom-select.css
  src/components/icon.css
  src/core/base.css
  src/core/layout.css
  src/core/tokens/base_tokens.css
  src/core/tokens/dark_mode_tokens.scss
  src/core/tokens/index.scss
  src/core/tokens/scale_color_tokens.css
  src/core/tokens/scale_color_tokens.scss
  src/core/utilities.css
  src/recipes/aligned-header.css
  src/stories/Components/Accordion/Accordion.mdx
  src/stories/Components/Alert/Alert.mdx
  src/stories/Components/Avatar/Avatar.mdx
  src/stories/Components/Badge/Badge.mdx
  src/stories/Components/Breadcrumbs/Breadcrumbs.mdx
  src/stories/Components/Button/Button.mdx
  src/stories/Components/ButtonGroup/ButtonGroup.mdx
  src/stories/Components/Card/Card.mdx
  src/stories/Components/ConfirmDialog/ConfirmDialog.mdx
  src/stories/Components/Divider/Divider.mdx
  src/stories/Components/Form/Form.mdx
  src/stories/Components/Icon/Icon.mdx
  src/stories/Components/Modal/Modal.mdx
  src/stories/Components/Navbar/Navbar.mdx
  src/stories/Components/Pagination/Pagination.mdx
  src/stories/Components/SidePanel/SidePanel.mdx
  src/stories/Components/Spinner/Spinner.mdx
  src/stories/Components/Switch/Switch.mdx
  src/stories/Components/Tab/Tab.mdx
  src/stories/Components/Table/Table.mdx
  src/stories/Components/Tag/Tag.mdx
  src/stories/Components/TextPair/TextPair.mdx
  src/stories/Components/Tooltip/Tooltip.mdx
  src/stories/Overview/FileOrganization.mdx
  src/stories/Overview/ScaleOverriding.mdx
  src/stories/Overview/Themes.mdx
  src/stories/Recipes/AlignedHeader/AlignedHeader.mdx
  src/stories/Tokens/Color/ColorScale.mdx
  src/stories/Tokens/Sizing.mdx
  src/stories/Utilities/Flex/Flex.mdx
  src/stories/Utilities/Gap/Gap.mdx
  src/stories/Utilities/ItemWidth/ItemWidth.mdx
  src/stories/Utilities/Margin/Margin.mdx
  src/stories/Utilities/TextAlignment/TextAlignment.mdx
  src/stories/Utilities/Visibility/Visibility.mdx
Labels: Breaking Change, Base Tokens
