Repository RoleModel/optics, pull requests merged in 2025-02, with the labels that each got.

#269 Spell modules correctly
  src/stories/Overview/FileOrganization.mdx
Labels: documentation

#267 [OP-198] Accordion Add Animation
  .storybook/preview.css
  src/components/accordion.css
  src/core/tokens/base_tokens.css
  src/stories/Components/Accordion/Accordion.js
  src/stories/Components/Accordion/Accordion.mdx
  src/stories/Components/Accordion/Accordion.stories.js
  src/stories/Components/Icon/Icon.js
  src/stories/Tokens/Animation/Animation.stories.js
Labels: documentation, Base Tokens, Components

#268 [OP-199] Documentation Improvements
  LICENSE
  package.json
  src/stories/Overview/Introduction.mdx
  yarn.lock
Labels: documentation, dependencies

#270 Bump version in prep for release
  package.json
Labels: Repository Change

#271 [OP-200] Move fonts to their own files
  src/components/icon.css
  src/core/fonts/icon_fonts.css
  src/core/fonts/index.css
  src/core/fonts/text_fonts.css
  src/core/tokens/base_tokens.css
  src/optics.css
  src/stories/Components/Accordion/Accordion.mdx
  src/stories/Components/Alert/Alert.mdx
  src/stories/Components/Avatar/Avatar.mdx
  src/stories/Components/Badge/Badge.mdx
  src/stories/Components/Breadcrumbs/Breadcrumbs.mdx
  src/stories/Components/Button/Button.mdx
  src/stories/Components/ButtonGroup/ButtonGroup.mdx
  src/stories/Components/Card/Card.mdx
  src/stories/Components/ConfirmDialog/ConfirmDialog.mdx
  src/stories/Components/Divider/Divider.mdx
  src/stories/Components/Form/Form.mdx
  src/stories/Components/Icon/Icon.mdx
  src/stories/Components/Modal/Modal.mdx
  src/stories/Components/Navbar/Navbar.mdx
  src/stories/Components/Pagination/Pagination.mdx
  src/stories/Components/SidePanel/SidePanel.mdx
  src/stories/Components/Sidebar/Sidebar.mdx
  src/stories/Components/Spinner/Spinner.mdx
  src/stories/Components/Switch/Switch.mdx
  src/stories/Components/Tab/Tab.mdx
  src/stories/Components/Table/Table.mdx
  src/stories/Components/Tag/Tag.mdx
  src/stories/Components/TextPair/TextPair.mdx
  src/stories/Components/Tooltip/Tooltip.mdx
  src/stories/Overview/FileOrganization.mdx
  src/stories/Overview/SelectiveImports.mdx
  src/stories/Recipes/AlignedHeader/AlignedHeader.mdx
  src/stories/Tokens/Animation/Animation.mdx
  src/stories/Tokens/Border/BorderStroke.mdx
  src/stories/Tokens/Border/BorderWidth.mdx
  src/stories/Tokens/Breakpoint.mdx
  src/stories/Tokens/Color/BasicColor.mdx
  src/stories/Tokens/Color/BorderColor.mdx
  src/stories/Tokens/Color/ColorWithAlpha.mdx
  src/stories/Tokens/Input/InputHeight.mdx
  src/stories/Tokens/Opacity.mdx
  src/stories/Tokens/Shadow.mdx
  src/stories/Tokens/Sizing.mdx
  src/stories/Tokens/Typography/FontFamily.mdx
  src/stories/Utilities/Gap/Gap.mdx
  src/stories/assets/dependency-graph.svg
  tools/generate-graph.dot
  tools/templates/component/??name??(pascalCase).mdx
Labels: documentation, Cleanup, Breaking Change, Base Tokens

#272 [OP-195] Icon improvements
  .storybook/preview.css
  package.json
  src/addons/fonts/material_symbols_outlined_variable.css
  src/components/accordion.css
  src/components/alert.css
  src/components/icon.css
  src/components/sidebar.css
  src/core/fonts/icon_fonts.css
  src/core/fonts/index.css
  src/stories/Components/Icon/Icon.js
  src/stories/Components/Icon/Icon.mdx
  src/stories/Components/Icon/Icon.stories.js
  src/stories/Overview/Addons.mdx
Labels: Cleanup, Breaking Change, Components

#273 [OP-28] Custom Icon Support
  .storybook/preview.css
  src/addons/fonts/feather_icons.css
  src/addons/fonts/lucide_icons.css
  src/addons/fonts/phosphor_icons.css
  src/addons/fonts/tabler_icons.css
  src/stories/Components/Icon/Icon.js
  src/stories/Components/Icon/Icon.mdx
  src/stories/Components/Icon/Icon.stories.js
  src/stories/Overview/Addons.mdx
Labels: documentation, Components
